/* https://webdesignreference.fc2.net/blog-entry-3.html */

/* .botton-container{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 3rem;
} */

/* .botton{
    display: flex;
    flex-direction: column;
    gap: 4em;
    width: fit-content;
} */

.animsition{
   height: 65vh;
}

.botton{
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

ul{
    height: 100%;
    padding-left: 0;

}

ul.botton li{
    list-style: none;
    /* margin-top: 50px; */
    /* justify-content: space-around; */
}



.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 270px;
    max-height: 75px;
    width: 60vw;
    height: 16vw;
    border: none;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    /* font-size: 7vw; */
    font-size:min(7vw, 30px) ;
    background-color: #222;
    padding: 0;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btn span {
    position: relative; 
    z-index: 1;
}
  
.btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #78c7d2;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}
  
.btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

