* { box-sizing:border-box; }

html {
    height:100%;
    /* background: linear-gradient(to bottom, #ece5da 0%, #eed1a0 100%); */
    /* background: linear-gradient(to bottom, #ece5da 0%, #ecab3a 100%); */
    background: linear-gradient(to bottom, #ece5da 0%, #ecab3a 100%);
}

body {
    margin: 0;
    /* font-family: "Yusei Magic", sans-serif; */
    /* background: linear-gradient(to bottom, #ece5da 0%, #ecab3a 100%); */
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

/* https://fastcoding.jp/blog/all/info/202104-text-animation/  Awesome Text-Shadow  */
h1{
    /* padding: 1rem; */
    margin: 0;
    font-family: "Paytone One";
    color: #202020;
    text-transform: uppercase;
    letter-spacing: -2px;
    
    /* https://goworkship.com/magazine/css-javascript-animated-backgrounds/ 文字に画像を表示する*/

    /* background: url(../images/sp_mini.png);
    background-size: auto 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: shine 8s linear infinite;
    &:nth-child(2){
        top: 50vh;
    }
    @keyframes shine{
        from{
            background-position: center 0;
        }
        to{
            background-position: center 200%;
        }
    } */
}

h1 span{
    display: block;
    margin: 11px 0 17px 0;
    /* font-size: 140px; */
    font-size: 23vw;
    line-height: 80px;
    color: #f1ebe5;
    text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
    letter-spacing: -2px;
}