/* ホームアイコン */
body {
    font-family: "Yusei Magic", sans-serif;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
  }
.animsition{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  /* アイコン */
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  img {
    width:100%;
    height:100%;
    background: #ccc;
  }

  .txt_color{
    font-size: 50px;
    text-align: center;
    
  }
  
  .txt_color span:nth-child(odd) {
    color: #36b077;
  }
  .txt_color span:nth-child(even) {
    color: #77d943;
  }